@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-primary {
    @apply text-white;
  }

  .text-secondary {
    @apply text-slate-500;
  }
}

.section_layout {
  @apply py-6 desktop-screen:py-10;
}

html {
  scroll-behavior: auto !important;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
